In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import numpy as np
import pandas as pd
import re

In [11]:
# Read sentences
sentences = list()
with open("beatles_biography.txt") as file:
    for line in file :
        for l in re.split(r"\.\s|\?\s|\!\s|\n",line):
            if l:
                sentences.append(l)

In [18]:
# converts a collection of text documents to a matrix of token counts
cvec= CountVectorizer(stop_words='english', min_df=3,max_df=0.5, ngram_range=(1,2))
sf = cvec.fit_transform(sentences)

In [21]:
# Transforms a count matrix to a normalized TF or TF-IDF representation to measure weights

transformer = TfidfTransformer()
transformed_weights= transformer.fit_transform(sf)
weights = np.asarray(transformed_weights.mean(axis=0)).ravel().tolist()

# comprises terms and weights
weights_df= pd.DataFrame({'term': cvec.get_feature_names(), 'weight': weights})

In [9]:
# Sorting for ranking
weights_df.sort_values(by='weight',ascending=False).head(10)

         term    weight
8     beatles  0.139923
3       album  0.061866
26     lennon  0.060638
51      songs  0.057549
43   released  0.056171
19      group  0.055949
30  mccartney  0.055235
16       film  0.051586
42  recording  0.041797
13    critics  0.039863